@page "/{id:int?}"
@model Capra_Tiberiu_Proiect.Pages.Telefoane.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Telefon[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon[0].Producator.NumeProducator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon[0].Memorie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon[0].Pret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefon[0].TelefonCategories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TelefonD.Telefoane) {
        string selectedRow = "";
        if (item.ID == Model.TelefonID)
        {
            selectedRow = "table-success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producator.NumeProducator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memorie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pret)
            </td>
            <td>
                @{
                    foreach (var category in item.TelefonCategories)
                    {
                        @category.Category.ID @: @category.Category.CategoryName <br />
                    }
                }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
